.bg-blueclair {
  background: linear-gradient(#007bff, #77B5FE);
}

main {
  min-height: calc(100vh - 140px);
}

.img-resp {
  width: 100%;
  height: auto;
}

.padding-top-10 {
  padding-top: 10vh;
}

.padding-top-20 {
  padding-top: 20vh;
}
