.bg-blueclair {
  background: linear-gradient(#007bff, #77B5FE);
}

main {
  min-height: calc(100vh - 140px);
}

.img-resp {
  width: 100%;
  height: auto;
}

.padding-top-10 {
  padding-top: 10vh;
}

.padding-top-20 {
  padding-top: 20vh;
}

.marge-bot-0 {
  margin-bottom: 0px !important;
}

.min-height-350 {
  min-height: 350px;
}

.good {
  background-color: #21ba45;
  color: white;
}

.bad {
  background-color: #db2828;
  color: white;
}
