<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">

  <link rel="canonical" href="http://jeres-cir/" />

  <title>ENT CIR | Jeres </title>

  <meta name="description" content="" />
  <meta name="keywords" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../Ressources/css/semantic.min.css">
  <link rel="stylesheet" href="../Ressources/css/Semantic-UI-Alert.css">
  <link rel="stylesheet" href="../Ressources/css/jquery-confirm.min.css">
  <link rel="stylesheet" href="../Ressources/css/custom.css">
</head>
